@import 'tailwindcss';

:root {
  --bg-dark: hsl(0 0% 0%);
  --bg: hsl(0 0% 5%);
  --bg-light: hsl(0 0% 10%);
  --text: hsl(0 0% 95%);
  --text-muted: hsl(0 0% 70%);
}

.dark-black {
  background-color: var(--bg-dark);
}

.medium-black {
  background-color: var(--bg);
}

.light-black {
  background-color: var(--bg-light);
}

.normal-text {
  color: var(--text);
}

.muted-text {
  color: var(--text-muted);
}

body {
  background-color: var(--bg-dark);
}
